@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

* {
  margin: 0;
  padding: 0;
  /* outline: 2px dashed aquamarine; */
}

/* Shared styles */

:root {
  --primary-color: #e6533c;
  --out: 2px dashed teal;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #ffffff;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

section,
nav {
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.display-flex {
  display: flex;
}

.tc {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  line-height: 1.5rem;
}

button {
  cursor: pointer;
}

.btn-primary {
  font-size: 1.125rem;
  font-weight: 500;
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  border-radius: 2.8rem;
  border: 0;
}

.phone {
  display: none;
}

.btn-secondary {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border-radius: 2.75rem;
  border: 1px solid white;
  background: none;
}

/* Header styles */

header {
  background: linear-gradient(180deg, rgb(14, 14, 14) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 0, 0, 1) 100%);
}

/* Nav bar styles */

.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.nav-link-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 4px;
}

.logo * {
  font-size: 2.5rem;
  font-style: italic;
  color: var(--primary-color);
}

.nav-links {
  list-style: none;
  justify-content: space-between;
  gap: 2.5rem;
  align-items: center;
}
.nav-item {
  margin-right: 1rem;
  font-weight: 300;
}

.hamburger-icon {
  display: none;
}

.home-btn {
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  background-color: var(--primary-color);
  border-radius: 46px;
}

.click-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

/* Banner styles */

#banner {
  margin-top: 5rem;
  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-title {
  font-size: 4.75rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.banner-title .fancy-text {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 9rem;
}

#banner .btn-container {
  margin-top: 1.75rem;
  display: flex;
  gap: 0.85rem;
}

.banner-img {
  justify-self: end;
  position: relative;
}

.banner-img img {
  max-width: 100%;
}

.banner-tile {
  background: rgba(48, 48, 48, 0.5);
  padding: 1.25rem 1.5rem;
  height: fit-content;
  width: fit-content;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Learned by Googling */
  /* How to add blur */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.tile-1 {
  position: absolute;
  bottom: 4.5rem;
  left: -6.5rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.tile-1 .tile-icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.2;
}

.tile-1 .tile-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3px;
}

.tile-1 .tile-text {
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
  letter-spacing: 0.5px;
}

.tile-2 {
  position: absolute;
  top: 8rem;
  right: -2rem;
}

.tile-2 .tile-title {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.tile-2 .tile-text {
  color: rgba(239, 237, 232, 0.65);
  font-size: 0.75rem;
  letter-spacing: 0.5px;
}

/* Change Habits section styles */

#change-habits .section-details {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3.25rem;
}

.exercise-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  justify-content: center;
}

.exercise-card {
  justify-self: center;
  text-align: center;
}

.exercise-img {
  border-radius: 50%;
  border: 0.4rem solid #191919;
  margin-bottom: 1.8rem;
}

.exercise-title {
  font-size: 1.125rem;
  margin-bottom: 0.4rem;
}

/* Run Extra Mile section styles */

#running {
  background-color: #222;
  border-radius: 1.25rem;
  padding: 2.5rem;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10rem;
  align-items: center;
}

#running .details-container {
  width: 70%;
}

#running .details-container .btn-primary {
  margin-top: 2rem;
}

#running .section-img img {
  max-width: 100%;
  border-radius: 1rem;
}

/* Media query for Mobile Device */

@media screen and (max-width: 576px) {
  /* Shared Styles */
  section,
  nav {
    width: 90%;
  }

  .desktop {
    display: none;
  }

  .section-title {
    font-size: 2rem;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 1rem;
  }

  .btn-primary + .phone {
    padding: 1rem 2rem;
    display: inline-block;
    min-width: fit-content;
  }

  .btn-secondary {
    padding: 1rem 1.5rem;
  }

  /* Nav bar styles */
  .nav-link-container {
    display: none;
  }

  .hamburger-icon {
    display: block;
    scale: 1.5;
  }

  /* Banner styles */
  #banner {
    grid-template-columns: 1fr;
  }

  .banner-title {
    font-size: 2.5rem;
    width: 80%;
  }

  .banner-content .description {
    width: 85%;
  }

  .banner-title .fancy-text {
    font-size: 4.5rem;
  }

  .btn-container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 1.75rem;
  }

  .banner-img {
    justify-self: center;
  }

  .banner-tile {
    scale: 0.7;
  }

  .tile-1 {
    top: 50%;
    left: 0.5rem;
  }

  .tile-2 {
    top: 2rem;
    right: -1.5rem;
  }

  /* Change Habits section styles */
  #change-habits .section-details {
    width: 100%;
  }

  #change-habits .section-title {
    font-size: 2rem;
  }

  .exercise-cards-container {
    grid-template-columns: 1fr;
  }

  .exercise-card {
    width: 70%;
  }

  /* Run Extra Mile section styles */
  #running {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    padding: 1.5rem 0;
  }

  #running .details-container,
  .section-img {
    width: 87%;
    /* padding: 2rem 0; */
  }

  #running .btn-primary {
    width: 100%;
  }
}
